<% @posts.each do |p| %>

  <p>
    <b><%= link_to p.title, post_path(p)%></b>
  </p>


  <p>
    <% if p.lang == 'Other'%>
      <pre><code><%= p.text %></code></pre>
    <%else%>
      <pre><code class="<%= p.lang.downcase%>"><%= p.text %></code></pre>
    <%end%>
  </p>
  <p>
    Author:
    <% if p.user_id == 0  %>
      Anon |
    <% else %>
      <%= link_to p.user.username, profile_path(p.user_id)%> |
    <% end %>
    <%= p.created_at.strftime("%Y-%m-%d")%> |

    <%= link_to "Comments: #{p.comments.length}", post_path(p)%>
  </p>
  <hr />

<% end%>
