<h3><%= @post.title %></h3>
<p>
  <%= @post.text%>
</p>
<hr>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
  <%= f.text_area :text, :class => "form-control", :rows => "5"  %>
</p>
<p>
  <%= f.submit %>
</p>
<%end%>

<% @post.comments.each do |comm|%>
  <p>
    <i><%= comm.text %></i>
  </p>
  <hr />
<% end%>
